{% extends "base.html" %}

{% block content %}

<!-- Bnner Section Style Four -->
<section class="banner-section style-four">
    <div class="swiper-container banner-slider">
        <div class="swiper-wrapper">
            <!-- Slide Item -->
            <div class="swiper-slide" style="background-image: url(../static/assets/images/main-slider/image-10.jpg);">
                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h1>Interior & Exterior Design</h1>
                            <div class="text">Unique & Creative Works</div>
                            <div class="link-box">
                              

                                <a href="{{ url_for('who_we_are') }}" class="theme-btn btn-style-one light"><span>WHO WE
                                        ARE</span></a>
                                <a href="{{ url_for('contact') }}" class="theme-btn btn-style-two light"><span>REQUEST A FREE QUOTE</span></a>
                            </div>
                            <div class="shape-one"></div>
                            <div class="shape-two"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="swiper-slide" style="background-image: url(../static/assets/images/main-slider/image-11.jpg);">
                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h1>Set Apart Your Interior Design</h1>
                            <div class="text">Unique & Creative Works</div>
                            <div class="link-box">
                                <a href="{{ url_for('who_we_are') }}" class="theme-btn btn-style-one light"><span>WHO WE
                                        ARE</span></a>
                                <a href="{{ url_for('contact') }}" class="theme-btn btn-style-two light"><span>GET  A FREE QUOTE</span></a>
                            </div>
                            <div class="shape-one"></div>
                            <div class="shape-two"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-slider-nav">
        <div class="banner-slider-control banner-slider-button-prev"><span><i class="far fa-angle-left"></i></span>
        </div>
        <div class="banner-slider-control banner-slider-button-next"><span><i class="far fa-angle-right"></i></span>
        </div>
    </div>
</section>
<!-- End Bnner Section -->

<!-- About Section Four -->
<section class="about-us-section-four">
    <div class="shape-one"></div>
    <div class="line-shape">
        <span class="line-one"></span>
        <span class="line-two"></span>
        <span class="line-three"></span>
        <span class="line-four"></span>
    </div>
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content wow fadeInLeft">
                    <h4 style="color: white;">The Real Creative Potential</h4>
                    <h2
                        style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        <strong>Admire</strong> -Interior <br> Commercial Decor</h2>
                    <div class="text" style="color: white;text-align: justify;">At Admire Interiors, we believe that
                        every space tells a story. For over two decades, we’ve been redefining interiors across Chennai
                        and India — with craftsmanship, innovation, and personalized service. Whether you’re renovating
                        a cozy home, designing a high-end salon, or setting up a medical clinic, our team delivers
                        turnkey interior solutions that combine functionality and aesthetics. Our approach is simple:
                        Listen, Design, Execute, and Delight. We pride ourselves in managing the entire interior
                        lifecycle — from 3D design concepts to electrical, plumbing, carpentry, lighting, and final
                        handover</div>
                    <!-- <div class="link-btn"><a href="about.html" class="theme-btn btn-style-two"><span>Read More</span></a></div> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-block wow fadeInRight">
                    <div class="image"><img src="../static/assets/images/resource/image-43.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA Section -->
<section class="cta-section">
    <div class="auto-container">
        <div class="outer-box" style="background-image: url(../static/assets/images/background/bg-12.jpg);">
            <!-- <div class="logo"><img src="../static/assets/img/logo/admire-logo.png" alt=""></div> -->
            <h2>Admire Interior Design Firm Gives <br> You The Best Lifestyle</h2>
            <div class="shape-one"></div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="services-section style-two">
    <div class="shape-one"></div>
    <div class="line-shape">
        <span class="line-one"></span>
        <span class="line-two"></span>
        <span class="line-three"></span>
        <span class="line-four"></span>
    </div>
    <h1 class="big-title">What we do</h1>
    <div class="auto-container">
        <div class="sec-title style-two text-center">
            <span class="sec-title-dec"></span>
            <h2
                style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                Our Promise – End-to-End Interior Execution</h2>
            <div class="text" style="color: white;">No more coordinating with multiple contractors. Admire Interiors
                handles everything under one roof such us Conceptual Interior Design, Electrical & Plumbing Works,
                Modular Furniture & Carpentry, Ceiling, Painting & False Roofing and Site Management & Timely Delivery
            </div>
        </div>
        <div class="outer-container">
            <div class="row no-gutters">
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-7.jpg" alt=""></div>
                        <div class="content">
                            <h4>Home Decoration</h4>
                            <!-- <div class="link-btn"><a href="renovation.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-8.jpg" alt=""></div>
                        <div class="content">
                            <h4>Renovation Ideas</h4>
                            <!-- <div class="link-btn"><a href="renovation.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-9.jpg" alt=""></div>
                        <div class="content">
                            <h4>Lighting Styles</h4>
                            <!-- <div class="link-btn"><a href="lighting.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-10.jpg" alt=""></div>
                        <div class="content">
                            <h4>Architect Design</h4>
                            <!-- <div class="link-btn"><a href="architecture.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-44.jpg" alt=""></div>
                        <div class="content">
                            <h4>Stairs Design</h4>
                            <!-- <div class="link-btn"><a href="exterior.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/images/resource/image-12.jpg" alt=""></div>
                        <div class="content">
                            <h4>Office Planning</h4>
                            <!-- <div class="link-btn"><a href="interior.html" class="read-more-btn">Read More</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Process Section Two -->
<section class="working-process-section-two">
    <div class="sec-bg" style="background-image: url(../static/assets/images/background/bg-13.jpg);"></div>
    <div class="line-shape">
        <span class="line-one"></span>
        <span class="line-two"></span>
        <span class="line-three"></span>
        <span class="line-four"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title style-two text-center light">
            <div class="sec-title-dec"></div>
            <h2>How We Work</h2>
        </div>
        <div class="row">
            <div class="process-block-two col-lg-4">
                <div class="inner-box">
                    <div class="icon">
                        <span class="flaticon-school-material"></span>
                        <div class="count">1</div>
                    </div>
                    <div class="content">
                        <h4>Concept Creation</h4>
                        <div class="text">Along goodness hey this sed <br> ipsum manatee for one since <br> flustered
                            impressive. </div>
                    </div>
                </div>
            </div>
            <div class="process-block-two col-lg-4">
                <div class="inner-box">
                    <div class="icon">
                        <span class="flaticon-paint-palette"></span>
                        <div class="count">2</div>
                    </div>
                    <div class="content">
                        <h4>Design Engage</h4>
                        <div class="text">Along goodness hey this sed <br> ipsum manatee for one since <br> flustered
                            impressive. </div>
                    </div>
                </div>
            </div>
            <div class="process-block-two col-lg-4">
                <div class="inner-box">
                    <div class="icon">
                        <span class="flaticon-like"></span>
                        <div class="count">3</div>
                    </div>
                    <div class="content">
                        <h4>Style Perfection</h4>
                        <div class="text">Along goodness hey this sed <br> ipsum manatee for one since <br> flustered
                            impressive. </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-content text-center">
            <div class="single-image-carousel">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image"><img src="../static/assets/img/home/interior-bg.png" alt=""></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image"><img src="../static/assets/images/resource/image-65.jpg" alt=""></div>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="slider-button-next"><span><i class="fas fa-angle-left"></i></span> </div>
                    <div class="slider-button-prev"><span><i class="fas fa-angle-right"></i></span></div>
                </div>
            </div>
            <div class="text" style="color: white;">Every industry has its own requirements. <br>We study workflows,
                user journeys, and customer flow <br>to ensure optimized design outcomes.</div>
        </div>
    </div>
</section>

<!-- Projects Section Four -->
<section class="projects-section-four">
    <div class="line-shape">
        <span class="line-one"></span>
        <span class="line-two"></span>
        <span class="line-three"></span>
        <span class="line-four"></span>
    </div>
    <h1 class="big-title">our works</h1>
    <div class="auto-container">
        <div class="sec-title style-two">
            <div class="sec-title-dec"></div>
            <h2
                style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                Industries We Serve </h2>
            <div class="text" style="color: white;">
                <ul>
                    <li><b>Hospitals & Clinics : </b> Vastu-compliant and patient-friendly environments.</li>
                    <li><b>Fitness & Gyms : </b> Space-optimized, energy-driven interiors.
                    </li>
                    <li><b>Saloons & Spas :</b> Mood-lit, luxurious, and functional.</li>
                    <li><b>Corporates : </b> Elegant office partitions, meeting rooms & workstations.</li>
                    <li><b>Residences : </b> Custom kitchens, bedrooms, and smart wardrobes.</li>
                </ul>
            </div>
            <div class="outer-container">
                <div class="row">
                    <div class="project-block-four col-lg-6">
                        <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="../static/assets/img/home/interior-1.png" alt="">
                                <a data-fancybox="example gallery" href="../static/assets/img/home/interior-1.png"
                                    class="zoom-btn"><span class="flaticon-add"></span></a>
                            </div>
                            <div class="content">
                                <h4>Hospitals & Clinics</h4>
                            </div>
                        </div>
                    </div>
                    <div class="project-block-four col-lg-6">
                        <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="../static/assets/img/home/interior-2.png" alt="">
                                <a data-fancybox="example gallery" href="../static/assets/img/home/interior-2.png"
                                    class="zoom-btn"><span class="flaticon-add"></span></a>
                            </div>
                            <div class="content">
                                <h4>Fitness & Gyms</h4>
                            </div>
                        </div>
                    </div>
                    <div class="project-block-four col-lg-6">
                        <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="../static/assets/img/home/interior-3.png" alt="">
                                <a data-fancybox="example gallery" href="../static/assets/img/home/interior-3.png"
                                    class="zoom-btn"><span class="flaticon-add"></span></a>
                            </div>
                            <div class="content">
                                <h4>Saloons & Spas</h4>
                            </div>
                        </div>
                    </div>
                    <div class="project-block-four col-lg-6">
                        <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="../static/assets/img/home/interior-4.png" alt="">
                                <a data-fancybox="example gallery" href="../static/assets/img/home/interior-4.png"
                                    class="zoom-btn"><span class="flaticon-add"></span></a>
                            </div>
                            <div class="content">
                                <h4>Corporates</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--Start Clients-->
<section class="clients-logo-section">
    <div class="auto-container">
    <div class="sec-title style-two text-center">
            <span class="sec-title-dec"></span>
            <h2 style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
            Our Clients & Partners</h2>
            <div class="text" style="color: white;">Flusterd impressive man farcrud open inside punitively
                around after wasteful  telling coldly spokel squid hesitantly  gibbered some tyrans.
            </div>
        </div>
        <!--Sponsors Carousel-->
        <div class="theme_carousel owl-theme owl-carousel"
            data-options='{"loop": true, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "992":{ "items" : "4" }, "1200":{ "items" : "5" }}}'>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-1.jpg" alt=""></div>
            </div>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-2.jpg" alt=""></div>
            </div>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-3.jpg" alt=""></div>
            </div>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-4.jpg" alt=""></div>
            </div>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-5.jpg" alt=""></div>
            </div>
            <div class="slide-item">
                <div class="image"><img src="../static/assets/img/clients/clients-6.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>
<!--End Clients-->

<!-- Testimonial-section -->
<section class="testimonial-section style-two">
    <div class="sec-bg" style="background-image: url(../static/assets/images/background/bg-14.jpg);"></div>
    <div class="auto-container">
    <div class="funfacts-four">
        <div class="auto-container">
            <div class="row">
                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="20">0</span>
                            </div>
                            <div class="text">Years of Interior Mastery</div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="50">0</span>
                            </div>
                            <div class="text">Corporate Clients Across Industries</div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="28">0</span>
                            </div>
                            <div class="text">On Going Projects</div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="500">0</span>
                            </div>
                            <div class="text">Happy Clients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</section>

<div class="sr-testimonial-container">
    <div class="sr-testimonial-carousel" id="sr-testimonial-carousel">
      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Sathish Kumar</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Mathai</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Karthikeyan</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Shibi Mathai</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Arun</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Balaji</div>
        </div>
      </div>

      <div class="sr-testimonial-card">
        <div class="sr-testimonial-stars">★★★★★</div>
        <div class="sr-testimonial-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet ut rerum iste consequatur eius voluptate voluptatem quas, rem vel impedit velit, dicta minus sed in at recusandae, eum cumque?
        </div>
        <div class="sr-testimonial-bottom">
          <div class="sr-testimonial-name">Sibi</div>
        </div>
      </div>
    </div>

    <div class="sr-testimonial-nav">
      <button class="sr-testimonial-btn" onclick="prevSlide()">Prev</button>
      <button class="sr-testimonial-btn" onclick="nextSlide()">Next</button>
    </div>
  </div>
{% endblock %}