{% extends "base.html" %}

{% block content %}

<!-- Page Title -->
<section class="page-title" style="background-image: url(../static/assets/images/background/bg-20.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="content-wrapper">
                <div class="title">
                    <h1>What We Do</h1>
                </div>
                <ul class="bread-crumb">
                    <li class="home"><a href="{{ url_for('index') }}"><span class="far fa-home"></span></a></li>
                    <li>What We Do</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Title -->
<br>

<section class="about-us-section" style="padding: 20px 0 20px;">
    <div class="shape-one"></div>
    <div class="auto-container">
        <!-- <h1 class="big-title">What We Do</h1> -->
        <div class="row">
            <div class="col-lg-6">
                <div class="content wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <h2
                        style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        Complete Interior Services<br>Designed, Built, Delivered</h2>
                    <h4 style="color:white">Admire Interiors is your all-in-one interior partner. From bare shell to
                        beautiful finish, we take care of every step:</h4>
                    <div class="text" style="color:white">
                        • Concept & Theme Planning <br>
                        • Electrical & Plumbing Layouts <br>
                        • Furniture & Fabrication <br>
                        • False Ceiling & Lighting <br>
                        • Custom Cabinets & Modular Installations <br>
                        • Final Finishing & Furnishing
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="image-block wow fadeInRight animated"
                    style="visibility: visible; animation-name: fadeInRight;">
                    <div class="image"><img src="../static/assets/images/resource/image-1.jpg" alt=""></div>
                    <!-- <div class="logo"><img src="../static/assets/images/logo.png" alt=""></div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="auto-container">
<div class="sec-title style-two text-center" style="margin-bottom:5px">
        <span class="sec-title-dec"></span>
        <h2
            style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
           End to End - Home Interiors</h2>
    </div>
</div>

<div class="sr-container">
    <div class="sr-boxes">
        <div class="sr-box">
            <img src="../static/assets/img/icons/kitchen.png" alt="Modular Kitchen">
            <p>Modular Kitchen</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/warehouse.png" alt="Storage & Wardrobes">
            <p>Storage & Wardrobes</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/ceiling.png" alt="False Ceiling & Lights">
            <p>False Ceiling & Lights</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/smart-tv.png" alt="TV Units">
            <p>TV Units</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/plates.png" alt="Crockery Units">
            <p>Crockery Units</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/table.png" alt="Study Tables">
            <p>Study Tables</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/wallpaper.png" alt="Wallpaper">
            <p>Wallpaper</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/pooja.png" alt="Pooja Unit">
            <p>Pooja Unit</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/baby-crib.png" alt="Cot & Mattress">
            <p>Cot & Mattress</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/shoe-rack.png" alt="Shoe Rack">
            <p>Shoe Rack</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="auto-container">
<div class="sec-title style-two text-center" style="margin-bottom:5px">
        <!-- <span class="sec-title-dec"></span> -->
        <h2
            style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
           End to End - Corporate Interiors</h2>
    </div>
</div>
<div class="sr-container">
    <div class="sr-boxes">
        <div class="sr-box">
            <img src="../static/assets/img/icons/kitchen.png" alt="Modular Kitchen">
            <p>Modular Kitchen</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/warehouse.png" alt="Storage & Wardrobes">
            <p>Storage & Wardrobes</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/ceiling.png" alt="False Ceiling & Lights">
            <p>False Ceiling & Lights</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/smart-tv.png" alt="TV Units">
            <p>TV Units</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/plates.png" alt="Crockery Units">
            <p>Crockery Units</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/table.png" alt="Study Tables">
            <p>Study Tables</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/wallpaper.png" alt="Wallpaper">
            <p>Wallpaper</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/pooja.png" alt="Pooja Unit">
            <p>Pooja Unit</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/baby-crib.png" alt="Cot & Mattress">
            <p>Cot & Mattress</p>
        </div>
        <div class="sr-box">
            <img src="../static/assets/img/icons/shoe-rack.png" alt="Shoe Rack">
            <p>Shoe Rack</p>
        </div>
    </div>
</div>

<section class="pricing-section style-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="shape-one"></div>
            <span class="sec-title-dec"></span>
            <h2
                style="background: (90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                Choose Your Design Plan</h2>
            <div class="text" style="color:white">Startups, franchises and small businesses trust us for cost-effective interiors that don't
                compromise on quality. We optimize every rupee</div>
        </div>
        <div class="row">
            <div class="col-lg-4 pricing-block">
                <div class="inner-box">
                    <div class="wrapper-box">
                        <div class="icon"><span class="flaticon-colors"></span></div>
                        <div class="category"
                            style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                            Standard Pack</div>
                        
                        <ul>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Interior
                                    Design</strong> <br>(Includes 3D Planning etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Floor
                                    Planning</strong> <br> (Includes Floor Decoration etc)</li>
                            <li><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Home
                                    Decoration</strong> <br> (Includes Full Space Planning etc)</li>
                            <li><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Free
                                    Drawings </strong> <br> (Includes Sustainable Materials)</li>
                        </ul>
                    </div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-two"><span>Choose Plan</span></a></div>
                </div>
            </div>
            <div class="col-lg-4 pricing-block active-block">
                <div class="inner-box">
                    <div class="wrapper-box">
                        <div class="icon"><span class="flaticon-illumination"></span></div>
                        <div class="category"
                            style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                            Advanced Pack</div>
                        
                        <ul>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Interior
                                    Design</strong> <br>(Includes 3D Planning etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Floor
                                    Planning</strong> <br> (Includes Floor Decoration etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Home
                                    Decoration</strong> <br> (Includes Full Space Planning etc)</li>
                            <li><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Free
                                    Drawings </strong> <br> (Includes Sustainable Materials)</li>
                        </ul>
                    </div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-two"><span>Choose Plan</span></a></div>
                </div>
            </div>
            <div class="col-lg-4 pricing-block">
                <div class="inner-box">
                    <div class="wrapper-box">
                        <div class="icon"><span class="flaticon-bathtub-1"></span></div>
                        <div class="category"
                            style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                            Premium Pack</div>
                     
                        <ul>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Interior
                                    Design</strong> <br>(Includes 3D Planning etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Floor
                                    Planning</strong> <br> (Includes Floor Decoration etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Home
                                    Decoration</strong> <br> (Includes Full Space Planning etc)</li>
                            <li class="active"><strong
                                    style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Free
                                    Drawings </strong> <br> (Includes Sustainable Materials)</li>
                        </ul>
                    </div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-two"><span>Choose Plan</span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
