{% extends "base.html" %}

{% block content %}

<section class="page-title" style="background-image: url(../static/assets/images/background/bg-20.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="content-wrapper">
                <div class="title">
                    <h1>Who We Are</h1>
                </div>
                <ul class="bread-crumb">
                    <li class="home"><a href="{{ url_for('index') }}"><span class="far fa-home"></span></a></li>
                    <li>Who We Are</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>
<!-- About Section -->
<section class="about-us-section">
    <div class="shape-one"></div>
    <div class="auto-container">
        <h1 class="big-title">About Us</h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="content wow fadeInUp">
                    <h2
                        style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        About Admire Interiors</h2>
                    <div class="text" style="color:white">Founded over 20 years ago in Chennai, Admire Interiors was
                        built on one vision: To create timeless interiors that reflect your story. We are not just an
                        interior design company. We are creators of atmosphere, builders of trust, and champions of
                        detail. With a fully trained, in-house team of designers, engineers, electricians, plumbers, and
                        project managers — we control every aspect of your interior journey.</div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="image-block wow fadeInRight">
                    <div class="image"><img src="../static/assets/images/resource/image-1.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="working-process-section style-two" style="background-image: url(../static/assets/images/background/bg-22.jpg);">
    <div class="auto-container">
        <div class="sec-title text-center light">
            <h2>What Makes Us Different?</h2>
        </div>
        <div class="row">
            <div class="process-block col-lg-4">
                <div class="inner-box wow fadeInLeft animated" data-wow-duration="1500ms"
                    style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInLeft;">
                    <div class="icon"><span class="flaticon-school-material"></span></div>
                    <div class="content">
                        <div class="count">1<span>.</span></div>
                        <h4>Concept Creation</h4>
                    </div>
                </div>
            </div>
            <div class="process-block col-lg-4">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-paint-palette"></span></div>
                    <div class="content">
                        <div class="count">2<span>.</span></div>
                        <h4>Planning &amp; Selections</h4>
                    </div>
                </div>
            </div>
            <div class="process-block col-lg-4">
                <div class="inner-box wow fadeInRight animated" data-wow-duration="1500ms"
                    style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInRight;">
                    <div class="icon"><span class="flaticon-like"></span></div>
                    <div class="content">
                        <div class="count">3<span>.</span></div>
                        <h4>Development Styling</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">One Point Contact from Start to Finish, Design-to-Execution Under One Roof, Trained Workforce
            – No Outsourcing, Focus on Function, Durability & Beauty, On-Time Completion – Every Time and Chennai-based
            with Projects Across India.</div>
    </div>
</section>

<section class="room-dimention">
    <div class="auto-container">
        <div class="single-image-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="image"><img src="../static/assets/images/resource/image-67.jpg" alt=""></div>
                        </div>
                        <div class="col-xl-6">
                            <div class="content" style="background-image: url(../static/assets/images/background/bg-4.jpg);">
                                <div class="sec-title mb-30 style-two light">
                                    <h2>Designing Great Living <br> Spaces With Style</h2>
                                    <div class="text">Our founder believed in a simple idea: "Good interiors are not about expense. They’re about experience." <br>That’s why whether you're a startup looking to build a budget workspace or a hospital in
                                    need of certified, functional interiors, Admire ensures your expectations are not only met — but exceeded.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section style-two" style="padding: 20px 0 20px;">
    <div class="shape-one"></div>
    <div class="line-shape">
        <span class="line-one"></span>
        <span class="line-two"></span>
        <span class="line-three"></span>
        <span class="line-four"></span>
    </div>
    <h1 class="big-title">Who we are</h1>
    <div class="auto-container">
        <div class="sec-title style-two text-center">
            <span class="sec-title-dec"></span>
            <h2
                style="background: linear-gradient(90deg, #792987, #bd237e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                Industries We Serve</h2>
        </div>
        <div class="outer-container">
            <div class="row no-gutters">
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-1.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Hospitals & Clinics</h4>
                            <br>
                            <p style="text-align:justify">We design healthcare environments that are Vastu-compliant, sterile, and deeply patient-centric. From waiting areas to consultation rooms, every space is thoughtfully planned to promote calmness, hygiene, and healing. The layout ensures smooth patient flow, functional zoning, and a soothing ambiance essential for recovery and professional care.</p>
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-2.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Fitness & Gyms</h4>
                            <br>
                            <p style="text-align:justify">Our gym and fitness studio interiors are crafted to energize. With space-optimized layouts, high-durability materials, and dynamic lighting, we create motivating environments where form meets function. Whether it’s a compact urban studio or a large fitness facility, our designs promote movement, focus, and well-being.</p>
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-3.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Saloons & Spas</h4>
                            <br>
                            <p style="text-align:justify">Step into serenity with our mood-lit, luxurious salon and spa interiors. We blend aesthetics with practicality, designing treatment rooms, reception areas, and lounges that exude elegance and relaxation. From ambient lighting to plush finishes, every element enhances the client experience and brand identity.</p>
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-4.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Corporates & Office Planning</h4>
                            <br>
                            <p style="text-align:justify">We build sophisticated, efficient workplaces tailored to your workflow. Our office interiors include sleek partitions, collaborative meeting rooms, and ergonomic workstations that reflect modern professionalism. Balancing design and productivity, we help create environments that boost focus and inspire teams.</p>
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-5.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Residences</h4>
                            <br>
                            <p style="text-align:justify">Your home is a reflection of you — and we make it personal. From bespoke modular kitchens to restful bedrooms and smart wardrobes, our residential designs are tailored to your lifestyle. Every corner is optimized for comfort, style, and utility, turning your house into a dream home.</p>
                        </div>
                    </div>
                </div>
                <div class="service-block-one col-lg-4 col-md-6">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="../static/assets/img/home/interior-6.png" alt=""></div>
                        <div class="cont">
                            <br>
                            <br>
                            <h4 style="color:black">Restaurants</h4>
                            <br>
                            <p>We design restaurant interiors that blend ambiance, functionality, and brand storytelling. Whether it’s an intimate café or a bustling fine-dining venue, our concepts focus on atmosphere mood lighting to acoustics, we craft welcoming environments where guests feel both relaxed and invigorated.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}